/*ページ*/
#page

/*グローバルナビ*/
p {font-size: 16px;
    color: #333333;
}

#pagehead .globalNavi {
    font-size: 14px;
    color: #000000;
}

#pagehead .globalNavi ul {
    margin: 0;
    padding: 0;
    margin-right: auto;
}


#pagehead .globalNavi ul li {
    margin: 0 auto;
    padding: 0 10px;
    height: 100%;
    list-style: none;
    float: left;
    box-sizing: border-box;
    font-size: 14px;
    font-feature-settings: "palt";
    font-weight: 700;
}

#smallglobalNavi ul li {
    float: left;
    list-style: none;
    box-sizing: border-box;
}

#page .topimg {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* ハンバーガーメニュー*/

#humberger {
    position: relative;
    height: 20px;
    width: 20px;
    display: inline-block;
    box-sizing: border-box;
 }

 #humberger div {
    position: absolute;
    left: 0;
    height: 2px;
    width: 18px;
    background-color: #444;
    border-radius: 2px;
    display: inline-block;
    box-sizing: border-box;
}

#humberger div:nth-of-type(1) {
    top: 0;
}

#humberger div:nth-of-type(2) {
    top: 9px;
}
 
#humberger div:nth-of-type(3) {
    bottom: 0;
 }
 
#smallglobalNavi {
      color: #999;
      margin: 0 0 5px 0;
      font-size: 12px;
}

.download {
      background: #005bac;
      padding: 15px 20px;
      text-align: center;
}
  /* 表　*/

