body {
      margin: 0px;
      font-family: sans-serif;
  }

  /*pagebodyMainの中央寄せと幅のサイズ*/
#pagebodyMain {
    max-width: 1000px;/*元々はmax-width:1100px display-inlin-block??*/
    margin: 0 auto;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10000;
}

#container {
    padding-top: 150px;
  }

/*グローバルナビ*/
#pagehead .globalNavi {
    width: 100%;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
}/*(元々青色で囲っていたところ)*/

.globalNavi .logo img {
    width: 70px;
    height: auto;
    padding-top: 10px;
    margin-left: 30px;
}

#pagehead .globalNavi ul {
    text-align: right;
}

#pagehead .globalNavi ul {
    display: flex;   
    padding: 0px 3px;
    padding-left: 15px;
}/*(元々紫で囲っていたところ)元々float:left*/

#pagehead .globalNavi ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 15px;
}

.globalNavi li {
    display: block;
    padding: 0 3px;
    margin-left: 10px;
}

.mainglonavi {
    margin-left: 350px;
    margin-top: 20px;
}/*元々赤色だったところ*/

#pagehead .globalNavi .subglnavi li {
    margin: 0 19px;
    padding-right: 0px;
}

#smallglobalNavi ul li {
    list-style: none;
    float: left;
    margin-bottom: 30px;
}

#smallglobalNavi ul li a {
    text-decoration: none;
    color: #999;
}

#smallglobalNavi ul li::before {
    content: ">";
    color: #231815;
    margin: 0 7px;
}

#smallglobalNavi li:first-child::before {
    content: none;
}

/* ハンバーガーメニュー*/

#humberger {
    position: relative;
    height: 25px;
    width: 25px;
    display: inline-block;
    box-sizing: border-box;
 }

 #humberger div {
    position: absolute;
    left: 0;
    height: 3px;
    width: 18px;
    background-color: #444;
    border-radius: 3px;
    display: inline-block;
    box-sizing: border-box;
}

#humberger div:nth-of-type(1) {
    top: 0;
}

#humberger div:nth-of-type(2) {
    top: 11px;
}
 
#humberger div:nth-of-type(3) {
    bottom: 0;
 }
 
#smallglobalNavi {
      color: #999;
      margin-top:70px;
      margin-left: 45px;
      font-size: 13px;
}

/* TOP画像ページの文字装飾のデザイン*/

.main-visual-text {
    width: 590px;
    height: 90px;
    position: absolute;
    padding: 30px;
    margin-left: 200px;
    line-height: 20px;
    margin-top: 30px;
}

.main-vis-text-power {
    font-size: 18px;
}

.main-vis-text-strategy {
    font-weight: bolder;
    font-size: 30px;
}

/* TOPページ*/
#maincover {
    position: relative;
}

.topimg {
    display: flex;
    width: 100vw;;
    height: 250px;
    margin-left: -50px;
    position: static;
    object-fit: cover;
}

/*写真カバーのところ*/
.main-visual-text {
    color: #fff;
}


/*mainのコンテンツ幅の設定DIVのやつ*/
#main-content-box {
    width: 950px;
    margin: 0 auto;
}

/* SNSロゴ　Share*/

.share-mark {
    display: inline-block;
    margin-top: 40px;
    font-size: 12px;
    font-weight: bold;
    margin-right: -25px;
    color: #444;
}

#snslogo-first {
    display: inline-flex;
    float: right;
    max-width: 1100px;
    height: 74px;
    margin-left: 120px;
}

#snslogo-first ul {
    float: right;
    margin-right: -15px;
}

#snslogo-first ul li {
    list-style: none;
    float: left;
    padding: 15px;
}

#snslogo {
    max-width: 1100px;
    height: 74px;
    display: block;
    float: right;
}

#snslogo ul {
    float: right;
    margin-right: -15px;
}

#snslogo ul li {
    list-style: none;
    float: left;
    padding: 15px;
}


/*メインの文章部分*/


.heading-type-main {
    text-align: left;
    margin-top: 100px;
}

#maincontent .mainarticle {
    display: inline-block;
    font-size: 19px;
    text-align: left;
    margin-bottom: 25px;
}


#pagebodyMain #maincontent .mainarticle{
    text-align: left;   
}


.mainpic {
    margin: auto;
}

/*両端揃えのところ　<ビジネスモデルの特徴 人が支える未来>*/

#sub-content .text-biz-model {
    margin: 20px;
    padding: 40px;
    margin-left: -40px;
}


#sub-content {
    width: auto;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    text-align: right;
    margin: 0px;
    padding: 0px;
    margin-bottom: -40px;
}

#sub-content .text-hm-future p::after {
    content: ">";
    color: #999;
    line-height: 3px;
    margin-left: 5px;
}

#sub-content .text-biz-model p::before {
    content: "<";
    color: #999;
    margin-right: 5px;
}

.text-hm-future {
    margin-top: 60px;
}

#sub-content a {
    text-decoration: none;
    color: #0c419a;;
    font-size: 18px;
}

/* ダウンロードボタン*/

.download {
    text-align: center;
}

.btn {
    display: inline-block;
    color: #fff;
    background-color: #005bac;
    margin: 20px 0px;
    padding: 10px 40px;
    position: relative;
    text-align: center;
    margin-left: 40px;
}

.btn::before{
    content: '>';
    display: block;
    float: left;
    padding-top: 22px;
    padding-right: 10px;
    size: 10px;
    margin-left: -25px;
}

.btn::after {
    content:url("../image/pdf-icon.svg");
    display: inline-block;
    margin: 5px 0px 10px 20px;
}


.text-biz-model {
    text-align: left;
    padding-left: 40px;
}
.text-hm-future {
    text-align: right;
}




/*表の装飾（追加版）*/
.totaltable {
    height: auto;
    display: inline-block;
    background-color:#deecf8;
    box-sizing: border-box;
    margin-top: 10px;
}
.totaltable p {
    font-size: large;
    color: #444;
}

#table-block {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    padding-right: 0px;
    width: auto;
}

.tablelist {
    width: 29%; /*元々23％*/
    border: solid 1px;
    border-color: #cccccc;
    background-color: #fff;
    text-align: center;
    margin: 10px;
    padding: 5px; 
}

.tablelist p::before {
    content: ">";
    color: #999;
    display: block;
    float: left;
    margin-left: 10px;
}

.tablelist p {
    font-size: 16px;
}
.tablelist a {
    color: #0c419a;
    text-decoration: none
}

.tablelist:hover {
    background-color:#EEEEEE;
}

/*表の『NRI強み』の太文字*/
.nripower {
    font-weight: bold;
    padding-left: 30px;
    padding-top: 10px;
    margin-bottom: 0px;
}

/*SNSアイコン右寄せ*/
.bigfollow {
    text-align: center;
    float: left;
}


/*企業情報 div追加と中央寄せと幅揃え*/

div#cop-info {
    width: 1100px;
    margin: auto;
}

/*企業情報 見出し部分の装飾*/

.heading-type-sub {
    font-size: 20px;
    color: #444;
    margin-top: 175px;
}

/*経営方針*/
#localNavi ul {
    display:flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-left: inherit;
}
#localNavi li::before {
    content: ">";
    color: #999;
    margin-right: 15px;
}

#localNavi ul li {
    display: inline;
    list-style: none;
    width: 25%;
    padding-bottom: 30px;
}
#localNavi ul li a {
    color: #0c419a;
    text-decoration: none
}


.localnavi-list {
    border-bottom: 1px dotted #999;
}

.lo-navcontent {
    font-size: 16px;
}

/*企業情報の装飾*/
.heading-type-sub {
    border-top: solid 2px;
    border-top-color: #000;
    border-bottom: dotted 1px;
    border-bottom-color: #999;
    padding: 30px 0;
}

.localnav-title {
    font-size: 16px;
    margin: 35px 0;
    color: #444;
}


/*前のページの戻る*/
.backpage {
    margin: 60px 0;
    font-size: 16px;
}

.backpage ::before {
    content: "<  ";
    white-space: pre-wrap;
    color: #999;
}

.backpage a {
    color: #0c419a;
    text-decoration: none;
}


/*一番大きいSNSアイコン欄*/
.snsfollow {
    height: 100px;
    text-align: center;
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-color: #999;
}

.snsfollow ul {
    margin: 20px;
    display: inline-flex;
}

.snsfollow ul li {
    font-size: 22px;
    font-weight: bolder;
    list-style: none;
    margin: 22px;
    display: flex;
}

.snsfollow {
    margin: 0 auto;
}
   
.big-followus {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;

}
.snsfollow p {
    margin: auto;
    color: #444;
}
.snsfollow ul {
    margin: auto;
    display: inline-flex;
    width: 100px;
    margin-top: 10px;
}


/*リスト最後*/

#subinfo {
    max-width: 1500px; 
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-bottom: solid 1px #999;
    justify-content: right;
    margin-left: auto;
    margin-top: auto;
}

.subinfo-list-ul a::before {
    content: ">";
    color: #999;
    margin-right: 5px;
}

.subinfo-list li:first-child::before {
    content: none;
}

.subinfo-list {
    width: 355px;
    flex-wrap: wrap;
}

.subinfo-list-ul-detail {
    padding-left: 0px;
}

.subinfo-list-ul-detail a::before {
    content: ">";
    color: #999;
    margin-right: 5px;
}

.subinfo-list-ul {
    margin-bottom: 60px;
}

.subinfo-list ul li {
    list-style: none;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 16px;
}

.subinfo-list-ul-first-title a {
    text-decoration: none;
    color: #444;

}


.subinfo-list ul li a:first-child {
    color: #000;
    text-decoration: none;
}


/* footerリンク　*/
#mainfooter {
    margin-top: 50px;
    margin-left: 200px;
    margin-right: auto;
    margin-bottom: -20px;
    
}

#mainfooter ul {
    width: 80%;
    display: inline-block;
}

#mainfooter ul li{
    font-size: 12px;
    float: left;
    list-style: none;
    margin: 10px;
    padding-right: 0px;
    display: block;
    border-right: solid 1px #999;
    margin-left: 5px;
    margin-right: 20px;
}


#mainfooter ul li a {
    text-decoration: none;
    color: #999;
    text-align: center;
    padding-right: 20px;
}

.followus ul li {
    display: flex;
    list-style: none;
}

#copyright {
    display: inline-flex;
    margin-left: 250px;
    margin-top: -15px;
    margin-bottom: 80px;
}

#copyright p {
    font-size: 12px;
    color: #000;
}
